ansi2html==1.7.0
asttokens==2.0.5
awscli==1.25.15
Babel==2.10.3
backcall==0.2.0
boto3==1.24.15
botocore==1.27.15
Brotli==1.0.9
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cycler==0.11.0
dash==2.5.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.0
decorator==5.1.1
docutils==0.16
entrypoints==0.4
executing==0.8.3
Flask==2.1.2
Flask-Compress==1.12
fonttools==4.33.3
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
importlib-metadata==4.11.4
ipykernel==6.15.0
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyter-dash==0.4.2
kiwisolver==1.4.3
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mergedeep==1.3.4
mkdocs==1.3.0
mkdocs-git-revision-date-localized-plugin==1.0.1
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-material==8.3.7
mkdocs-material-extensions==1.0.3
mkdocs-rtd-dropdown==1.0.2
nest-asyncio==1.5.5
numpy==1.23.0
packaging==21.3
pandas==1.4.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.9.0
prompt-toolkit==3.0.30
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
Pygments==2.12.0
pymdown-extensions==9.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==23.2.0
requests==2.28.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.6.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
smmap==5.0.0
stack-data==0.3.0
tenacity==8.0.1
threadpoolctl==3.1.0
tornado==6.1
traitlets==5.3.0
urllib3==1.26.9
watchdog==2.1.9
wcwidth==0.2.5
Werkzeug==2.1.2
wincertstore==0.2
zipp==3.8.0
